:root {
    --neutral-1: hsl(210, 38%, 97%);
    --neutral-2: hsl(210, 32%, 93%);
    --neutral-3: hsl(210, 32%, 88%);
    --neutral-4: hsl(210, 35%, 45%);
    --neutral-5: hsl(212, 56%, 36%);
    --neutral-6: hsl(212, 56%, 16%);
}

@media (min-width: 768px) {
    .navigation {
        height: 5rem;
    }

    .navigation__list li {
        margin-right: 8px;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin-left: 8px;
        margin-right: 8px;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        border-bottom: 2px solid hsl(212, 56%, 36%);
    }
}

body {
    background-color: var(--neutral-2);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--neutral-6);
}

.badge-danger {
    background-color: var(--pink);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .45);
}

.navbar-light .navbar-nav .active > .nav-link {
    color: var(--neutral-5);
}

.card {
    border: none;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 3px 15px 0 hsla(0, 0%, 0%, .1);
}

.card__footer {
    background-color: var(--neutral-1);
}

.card__footer .btn {
    color: var(--neutral-4);
}

.alert {
    border-left: 3px solid;
}

.input-group-text {
    background-color: var(--neutral-1);
}

.btn__delete-reply {
    background-color: var(--neutral-2);
    color: var(--neutral-5);
}

.btn__delete-reply:hover {
    background-color: var(--neutral-3);
    color: var(--neutral-6);
}

.btn__delete-reply--light {
    background-color: #fff;
    color: var(--neutral-5);
}

.btn__delete-reply--light:hover {
    background-color: var(--neutral-1);
    color: var(--neutral-6);
}

.form-error {
    border-left: 3px solid var(--red);
}
